@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Abhaya Libre', serif;
}

.bgImage {
  z-index: -1;
  opacity: 0.4;
}

.color-animation {
  background-color: #D8B65C
}

.bg-headers { 
  background-image: url('../../public/img/agathabg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-color-ar {
  background-color: #588157;
}

.bg-default {
  background-color: #f1f1f1;
}

.bg-green-light {
  background-color: #A3B18A;
}

.btn-dark-ar {
  color: whitesmoke;
  background-color: #3A5A40;
  font-size: medium;
  font-weight: 400;
}

.text-green-dark {
  color: #344E41;
}