@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Abhaya Libre', serif;
}

.bgImage {
  z-index: -1;
  opacity: 0.4;
}

.color-animation {
  background-color: #D8B65C
}

.bg-headers { 
  background-image: url('../../public/img/agathabg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centraliza a imagem no container */
}
.bg-imersao { 
  background-image: url('../../public/img/imersao/bg-imersao.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centraliza a imagem no container */
}

/* Para telas menores, como dispositivos móveis */
@media (max-width: 768px) {
  .bg-headers {
    background-image: none;
    background-color: #344E41;
    background-size: cover;
    background-position:  right;
    /* opacity: 0.8; */
  }
  .btn-dark-ar {
    color: whitesmoke;
    background-color: #A3B18A;
  }

  .bg-imersao { 
    background-image: url('../../public/img/imersao/imersaodeip.jpeg');
    /* background-size: cover;
    background-repeat: no-repeat; */
  }
}

/* Para telas muito pequenas, como dispositivos móveis antigos */
@media (max-width: 480px) {
  .bg-headers {
    background-size: cover;
    background-position:  right;
  }
  .btn-dark-ar {
    color: whitesmoke;
    background-color: #d8dece;
  }
  .bg-imersao { 
    background-image: url('../../public/img/imersao/imersaodeip.jpeg');
    /* background-size: cover;
    background-repeat: no-repeat; */
  }
}
.bg-color-ar {
  background-color: #588157;
}

.bg-imersao-color {
  background-color: #04791a;
}

.bg-default {
  background-color: #f1f1f1;
}

.bg-green-light {
  background-color: #A3B18A;
}

.border-green-bold {
  border: 3px solid #344E41;
  border-radius: 28px;
  box-shadow:
  0.4px 2.1px 50.5px -23px rgba(0, 0, 0, 0.043),
  0.9px 5px 96.5px -23px rgba(0, 0, 0, 0.062),
  1.6px 9.4px 139.1px -23px rgba(0, 0, 0, 0.077),
  2.9px 16.8px 183.2px -23px rgba(0, 0, 0, 0.09),
  5.4px 31.3px 249.7px -23px rgba(0, 0, 0, 0.104),
  13px 75px 500px -23px rgba(0, 0, 0, 0.12)
;
}

.border-dark-bold {
  border: 3px solid #c1bbbb;
  border-radius: 28px;
  box-shadow:
  0.4px 2.1px 50.5px -23px rgba(0, 0, 0, 0.043),
  0.9px 5px 96.5px -23px rgba(0, 0, 0, 0.062),
  1.6px 9.4px 139.1px -23px rgba(0, 0, 0, 0.077),
  2.9px 16.8px 183.2px -23px rgba(0, 0, 0, 0.09),
  5.4px 31.3px 249.7px -23px rgba(0, 0, 0, 0.104),
  13px 75px 500px -23px rgba(0, 0, 0, 0.12)
;
}

.btn-dark-ar {
  color: whitesmoke;
  background-color: #3A5A40;
}

.btn-light-ar {
  color: whitesmoke;
  background-color: #A3B18A;
}

.text-green-dark {
  color: #344E41;
}

.btn-models {
  background-color: #344E41;
  color: whitesmoke;
}