@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Abhaya Libre', serif;
}

.bgImage {
  z-index: -1;
  opacity: 0.4;
}

.color-animation {
  background-color: #D8B65C
}

.bg-headers { 
  background-image: url('../../public/img/bgs/bgheaders.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-color-ar {
  background-color: #cebf85;
}
